<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laobei.dao.service.CookBookMapper" >
	<resultMap id="BaseResultMap" type="com.laobei.entity.CookBookEneity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="primary_material" property="primaryMaterial" jdbcType="VARCHAR" />
		<result column="auxiliary_material" property="auxiliaryMaterial" jdbcType="VARCHAR" />
		<result column="seasoning" property="seasoning" jdbcType="VARCHAR" />
		<result column="cooking_method" property="cookingMethod" jdbcType="VARCHAR" />
		<result column="cooking_time" property="cookingTime" jdbcType="TINYINT" />
		<result column="price" property="price" jdbcType="FLOAT" />
	</resultMap>
	<sql id="Base_Column_List">
   		 id, name,primary_material, auxiliary_material,
   		 seasoning,cooking_method, cooking_time,price 
  	</sql>
	<!--对菜谱进行增加操作  -->
	<insert id="insertCookingBook" parameterType="com.laobei.entity.CookBookEneity" >
    insert into recipes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="primaryMaterial != null" >
        primary_material,
      </if>
      <if test="auxiliaryMaterial != null" >
        auxiliary_material,
      </if>
      <if test="seasoning != null" >
        seasoning,
      </if>
      <if test="cookingMethod != null" >
        cooking_method,
      </if>
      <if test="cookingTime != null" >
        cooking_time,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="primaryMaterial != null" >
        #{primaryMaterial},
      </if>
      <if test="auxiliaryMaterial != null" >
        #{auxiliaryMaterial,jdbcType=VARCHAR},
      </if>
      <if test="seasoning != null" >
        #{seasoning,jdbcType=VARCHAR},
      </if>
      <if test="cookingMethod != null" >
        #{cookingMethod,jdbcType=VARCHAR},
      </if>
      <if test="cookingTime != null" >
        #{cookingTime,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price},
      </if>
    </trim>
  </insert>
  <!-- 根据菜谱条件进行查询 -->
  <select id="listAllCookBook" resultMap="BaseResultMap"  parameterType="com.laobei.entity.CookBookEneity">
    	select 
    	<include refid="Base_Column_List" />
    	 from recipes
    	 <where>
			<if test="name != null">
				name like "%"#{name}"%"
			</if>
			<if test="id != null">
				and id=#{id}
			</if>
		</where>
    </select>
    <!--根据id对选中的进行删除  -->
    <delete id="deleteCookBook" parameterType="Long[]" >
		delete from recipes
		where id in
		<foreach collection="array" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach> 
  </delete>
</mapper>
