<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laobei.dao.service.LoginMapper" >
	<resultMap id="BaseResultMap" type="com.laobei.entity.UserLogin">
		<id column="uid" property="uid" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="is_admin" property="isAdmin" jdbcType="TINYINT" />
		<result column="status" property="status" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List" >
   		 uid, username, password, is_admin,status 
  	</sql>
    <!-- 根据用户名和密码来查询用户 -->
    <select id = "findUser" resultMap="BaseResultMap"  parameterType="string">
    	select 
    	<include refid="Base_Column_List" />
    	 from users
    	 where username = #{username}
    	 and
    	 password = #{password}
    </select>
</mapper>