<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laobei.dao.service.StockMapper">
	<resultMap id="BaseResultMap" type="com.laobei.entity.StockEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="unit_price" property="unitPrice" jdbcType="FLOAT" />
		<result column="total_count" property="totalCount" jdbcType="FLOAT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="stock_type" property="stockType" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,name,unit,unit_price,total_count,update_time,stock_type
	</sql>
	
	<select id="listAllStock" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from stock
		<where>
			<if test="entity.stockType != null">
				stock_type = #{entity.stockType}
			</if>
			<if test="entity.name != null">
				and name like "%"#{entity.name}"%" 
			</if>
			<if test="entity.id != null">
				and id=#{entity.id}
			</if>
		</where>
		<if test="pageSize > 0">
			limit #{start}, #{pageSize}
		</if>
	</select>
	
	<select id="count" parameterType="com.laobei.entity.StockEntity" resultType="int">
		select count(0)
		from stock
		<where>
			<if test="stockType != null">
				stock_type=#{stockType}
			</if>
			<if test="name != null">
				and name like "%"#{name}"%" 
			</if>
		</where>
	</select>
	
	<insert id="insertStock" parameterType="com.laobei.entity.StockEntity">
		insert into stock 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="unitPrice != null">
				unit_price,
			</if>
			<if test="totalCount != null">
				total_count,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="stockType != null">
				stock_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				#{unit, jdbcType=VARCHAR},
			</if>
			<if test="unitPrice != null">
				#{unitPrice, jdbcType=FLOAT},
			</if>
			<if test="totalCount != null">
				#{totalCount, jdbcType=FLOAT},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="stockType != null">
				#{stockType, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<delete id="deleteStock" parameterType="Long[]">
		delete from stock
		where id in 
		<foreach collection="array" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>
	
	<select id="getEntity" parameterType="Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from stock 
		<where>
			<if test="id != null">
				id=#{id}
			</if>
			<if test="name != null">
				and name=#{name, jdbcType=VARCHAR}
			</if>
			<if test="stockType != null">
				and stock_type=#{stockType, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<update id="updateStock" parameterType="com.laobei.entity.StockEntity">
		update stock 
		<set>
			<if test="name != null">
				name=#{name, jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				unit=#{unit, jdbcType=VARCHAR},
			</if>
			<if test="unitPrice != null">
				unit_price=#{unitPrice, jdbcType=FLOAT},
			</if>
			<if test="totalCount != null">
				total_count=#{totalCount, jdbcType=FLOAT},
			</if>
			<if test="updateTime != null">
				update_time=#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="stockType != null">
				stock_type=#{stockType, jdbcType=VARCHAR}
			</if>
		</set>
		<where>
			id=#{id}
		</where>
		
	</update>
	
</mapper>